/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Open+Sans:wght@300;400&display=swap');

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background: url('/public/images/pumpkin.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}
ul {
  list-style: none;
}

a {
  color: #3333;
  text-decoration: none;
}

h1 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Utilities */
.text-style-one {
  color: #e7900d;
  font-style: italic;
  line-height: 2;
}

.icon {
  border-radius: 50%;
  width: 80px;
}

/* Header */
#header {
  height: 70px;
  position: relative;
  color: #fff;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

#navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

#navbar .link:hover {
  border-bottom: #28a745 2px solid;
}

#navbar ul {
  display: flex;
}

#navbar .logo {
  font-weight: 400;
}

.logo-text {
  color: #28a745;
}

/* Getdata / quotes */
#getdata {
  display: flex;
  justify-content: center;
  height: 57vh;
  align-items: center;
}

#quotes-card {
  height: 200px;
  width: 300px;
  padding: 20px;
  border: 3px solid #28a745;
  background: #000;
  opacity: 0.8;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin: 0 10px;
}

#quotes-card:hover {
  box-shadow: 10px 10px 10px 10px #000;
  transform: rotate(25deg);
  transition: 0.8s;
  border-radius: 100px;
}

#quotes-card h3 {
  font-family: initial;
  font-size: 15px;
}

/* About */
#about {
  display: flex;
  height: 80vh;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: auto;
}

/* Contact */
#contact {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

#contact form {
  background-color: #000;
  opacity: 0.8;
  flex-direction: column;
  display: flex;
  text-align: center;
  border: 3px solid #28a745;
  border-radius: 10px;
}

#contact form input,
textarea {
  margin: 5px 5px;
  padding: 10px;
  border: 2px solid #e7900d;
  border-radius: 5px;
}

#submit {
  cursor: pointer;
}

/* Footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0px;
  padding: 0 30px;
}

@media (max-width: 948px) {
  #getdata {
    flex-direction: column;
  }

  #quotes-card {
    margin: 10px 40px;
  }
}
